*{
    margin: 0%;
}

body{
    background-color:#c6f2f2a8;
}

.nav-bar{

    height: 75px;
    background-color: rgb(255, 255, 255);
   
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid blue;

}

.nav-image{
    height: 75px;
    width: 100px;
  
}
.logo{
    height: 75px;

    
}
img{
    height: 75px;
    width: 200px;
   background-size: cover;
    
}


.container {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  font-weight: bold;
  font-size: larger;
  height: 75px;
  width: 35%;
 
  

}

a {

  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 4;
  color: black;

  display: inline-block;
  margin-left: 5%;
}



.contacts{

color: rgb(0, 29, 248);

}
