*{
    margin: 0%;
}

body{
    background-color:#c6f2f2a8;
}

.nav-bar{

    height: 75px;
    background-color: rgb(255, 255, 255);
   
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid blue;

}

.nav-image{
    height: 75px;
    width: 100px;
  
}
.logo{
    height: 75px;

    
}
img{
    height: 75px;
    width: 200px;
   background-size: cover;
    
}


.container {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  font-weight: bold;
  font-size: larger;
  height: 75px;
  width: 35%;
 
  

}

a {

  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 4;
  color: black;

  display: inline-block;
  margin-left: 5%;
}



.contacts{

color: rgb(0, 29, 248);

}

.contact-section{
    justify-content: center;
}
.contact-form{
    height: 500px;
    background-color: white;
    width: 700px;
   text-align: center;
    justify-content: center;
    margin-left: 350px;
    margin-top: 50px;
    border: 2px solid blue;
    border-radius: 20px;
}
.contact-form h2{
    margin-top: 10px;
  
    font-size: 38px;
    font-weight: bold;
    color: red;
   
}

.input{
    color: black;
    padding: 20px;
    font-size: larger;
    margin-top: 20px;
}

.input-sec{
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: large;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-color: red;
}
.input p{
    margin-right: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Submit{
    margin-right: 25px;
    padding: 10px;
    font-size: medium;
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.click{
   
    padding: 10px;
    font-size: medium;
    background-color: rgb(255, 8, 0);
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.footer-div {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.73);
   font-size: medium;
   font-weight: bold;
    color: black;
    text-align: center;
  margin-top: 50px;
  
  }
  
  .footer-div p{
  padding: 25px;
  }