*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #9be4bb;


}

.nav-bar{
    height: 80px;
background-color: #fff2fc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding: 0px 20px 0px 20px;
    font-weight: 600;
    position: sticky;
    top: 0px;
   
}

.logo a{
  color: #584229;
  font-weight: 800; 
  font-size: 2rem;
 text-shadow: 1px 2px 5px #ffffff;
}

.Nav-sec{
    height: 50px;
   gap: 12px;
    display: flex;
    font-weight: 400;
    align-items: center; 


}


.sec a{
color: black;
font-size: larger;
font-weight: 600;
}
.a:hover{
  border-bottom: 3px solid #4E4E4E;

}
.CV{
   background-color: rgb(17, 0, 255);
   padding: 15px;
   border-radius: 7px;
   font-size: larger;
    color: white;
}
.menu i{
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.main{
    height: 580px;
  color: white;
    background-color: #916ca1;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   padding: 50px;
 gap: 10px;
 object-fit: cover;
 background-size: cover;

 
}

   

  @media (max-width: 884px) {
    .main {
      flex-direction: column;
      min-height: max-content;
  
    }
  }
  @media (max-width: 485px) {
    .main {
      flex-direction: column;
      max-height: max-content;
  
    }
  }
  @media (max-width: 465px) {
    .main2 img{
      width: 100%;
      height: auto;
    }
    .hire-header{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .social{
      height: 100px;
      margin-top: 50%;
      font-size: small;
    }
    .CV{
      font-size: small;
      padding: 10px;
    }
  }


 
  @media (max-width: 831px) {
    .sec {
     
    display: none;
  
    }
  }

.main h1{
font-size: 40px;
padding: 5px;
color: yellow;
}

.main p{
    padding: 10px;
    font-weight: 500;
  max-width: 600px;
font-size: large;

}
.hire-header a{
  padding: 10px;
  font-size: larger;
  color: rgb(0, 0, 0);
  background-color: #A599EA;
margin-left: 10px;
border-radius: 10px;
font-size: larger;
font-weight: 600;
border: 3px solid rgb(219, 88, 88);
box-shadow: 2px 3px 10px black;
}
.hire-header a:hover{
  color: #9a5b5b;
  background-color: #e2dede;
}
.hire-icon{
  padding: 5px;
}
.hire-header{
  margin-top: 20px;
  height: 60px;
  align-items: center;
 padding: 10px;
  justify-content: space-evenly;
}


.social-icon{
  padding: 10px;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-left: 20px;
background-color: #d90b0b;
border-radius: 50%;
color: white;
border: 2px solid black;
box-shadow: 2px 3px 10px black;
}
.social-icon:hover{
  background-color: #A599EA;
}



.main2 img{
    height: 400px;

  border-radius: 20%;
   
}
.main2 img:hover{
  transform: scale(1.1);
  cursor: pointer;
  
}


.space{
  height: 60px;
}
.More-link{
  color: white;
  text-align: center;
  padding: 30px;
  overflow: hidden;
 
}
.More-link a{

  padding: 10px;
  color: white;
  border-radius: 15px;
 background-color: #584229;
  box-shadow: 2px 3px 10px rgb(255, 255, 255);
}

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
 
  
}

.portfolio h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
 
}

.project-card {
border: 1px solid gray;
  border-radius: 8px;
background-color: #fff2fc;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 10px;
}

.project-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.project-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgb(0, 4, 255);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #0056b3;
}


.skill-box{
  width: 100%;
 
  text-align: center;
  padding: 40px;

}

.skill-container i{
font-size: 3.5rem;
color: #d90b0b;
padding: 40px;
}


.reviews-slider{
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
  overflow: hidden;
  /* width: 100%; */
}
.reviews-slider i{
color: #E04826;
  font-size: 30px;
  cursor: pointer;
  padding: 20px;

}
.main_reviews_slide{
  padding: 20px;
  /* width: 100%; */
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
 
 
}
.reviewscn img{
  border-radius: 50%;
  height: 100px;
}
.reviewscn{
  border: 1px solid gray;
  max-height:max-content ;
 max-width: max-content; 
  border-radius: 15px;
  padding: 20px;


}
.reviewscn p{
  max-width: 500px;
}


.footer-div{
  height: 70px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
background-color:black;
color: azure;
border-top: 1px solid red;
}
footer p{
  font-size: medium;

}
