*{
    margin: 0%;
}

body{
    background-color:#c6f2f2a8;
}

.nav-bar{

    height: 75px;
    background-color: rgb(255, 255, 255);
   
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid blue;

}

.nav-image{
    height: 75px;
    width: 100px;
  
}
.logo{
    height: 75px;

    
}
img{
    height: 75px;
    width: 200px;
   background-size: cover;
    
}


.container {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  font-weight: bold;
  font-size: larger;
  height: 75px;
  width: 35%;
 
  

}

a {

  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 4;
  color: black;

  display: inline-block;
  margin-left: 5%;
}



.contacts{

color: rgb(0, 29, 248);

}

.hero-img{
  background-image: url(hero-img.png);
  background-size: cover;
  height: 350px;
  cursor: pointer;
}

.about-me{

  height: 120px;
  width: 335px;

  text-align: center;
  align-items: center;
 justify-content: space-evenly;
  background-color: aliceblue;
  border: 1px solid rgb(255, 0, 0);
  padding: 10px;

}

.about-sec{
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.about-img{
  background-image: url(Launch\ Facebook\ Feed\ Ad\ in\ Bright\ Red\ Chic\ Photocentric\ Frames\ Style.png);
  height: 300px;
  width: 300px;
  background-size: cover;
border: 2px solid rgb(236, 22, 22);
border-style: double;
  
}
.exp{
  font-weight: bold;
  font-size: larger;
  background-color: blue;
  color: white;
  border: none;
  margin-top: 30px;
  height: 50px;
  width: 160px;
  cursor: pointer;
  border-radius: 25px;
}


.Services{
  height: 50px;
  background-color: rgb(10, 0, 202);
  border-top: 3px solid rgb(255, 13, 13);
  color: white;
  text-align: center;
line-height: 50px;
font-weight: bolder;
font-family: Arial;
font-size: large;
cursor:pointer;


}

.service-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 180px;
  cursor: pointer;
 

}

.service-box {
  border: 1px solid rgb(255, 0, 0);
  height: 170px;
  width: 350px;
  padding-top: 15px;
  list-style: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
  
}

.service-icon{
  font-size: 30px;
  color: red;
  margin-bottom: 5px;
  }
.service-box h2{
  margin-bottom: 5px;
  margin-top: 5px;

}
  .service-box li:hover{
   font-style: oblique;
    color: blue
    
  }
.Projects{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top: 1px solid red;
 
  height: 50px;
  
}
.Projects{
  padding-top: 17px;
}

.Projects-box{
  border-color: black;
  background-color: rgb(255, 17, 17);
}

.Projects-icon{
  color: yellow;
}

.Projects-button{
  color: white;
  background-color:  blue;
  border: none;
  padding: 10px;
  font-weight: 900;
  border-radius: 20px;
  cursor: pointer;
}

.footer-div {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.73);
 font-size: medium;
 font-weight: bold;
  color: black;
  text-align: center;


}

.footer-div p{
padding: 25px;
}



